body{margin:0px;padding:0px;background-color:#ffffff}
body,table,a,input,select{font-family:arial;font-size:12px}
input,select,textarea{border:1px solid #000000}
textarea{overflow:auto}
ul{margin-bottom:0px;margin-top:0px}
a{color:#1d70bb}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:underline}
table{border-collapse:collapse}
td{margin:0px;padding:0px;vertical-align: top}
.full_table{width:100%;height:100%}
.path{margin-bottom:10px;font-size:11px}
.path a{font-size:11px}
.title_content{font-size:14px;font-weight:bold;margin-bottom:10px}
