body{background-color:white;font-family:sans-serif;font-size:11px}
a, a:link, a:visited{text-decoration:none}
a:hover{text-decoration:underline}
.ftable{width:100%;height:100%}
td.hm_item,td.hm_item_b{background-image:url(img/hmenu_a.gif);height:57px;text-align:center;vertical-align:middle;width:128px}
td.hm_item_b{background-image:url(img/hmenu_b.gif)}
.hm_item,.hm_item_b{color:white;text-transform:uppercase;font-weight:bold}
.hm_item_b{color:#1869ae}
td.vm_item{padding-left:15px;background-image:url(img/vmenu_item_bg.gif);vertical-align:middle;padding-top:2px;padding-bottom:2px}
.vm_item{color:#bc3911}
td.vm_item2{padding-left:15px;background-image:url(img/vmenu_item_bg2.gif)}
.vm_item2,.vm_item3{color:#555043}
.pa1{padding-left:12px}
.pa2{padding-left:30px}
.header2{background-image:url(img/header2_bg.gif);width:207px;height:38px;vertical-align:middle;text-align:center;color:white;font-size:14px;font-weight:bold}
.input,.textarea{border-width:0px;background-image:url(img/input_bg.gif);height:23px;width:186px;color:#999999;font-weight:bold;padding-left:9px;padding-top:3px}
.textarea{background-image:url(img/textarea_bg.gif);width:186px;height:82px}
.txt_hd{background-image:url(img/txt_hd_bg.gif);height:36px;vertical-align:middle;padding-left:15px;color:white;font-size:14px}
.red{color:#bc3911}
td.footer{color:white;font-size:14px;padding-left:20px;padding-right:20px;vertical-align:middle}
