body{margin:0px;padding:0px;background-color:#ffffff;overflow:auto}
body,td,a,input,select,textarea{font-family:Trebuchet MS;font-size:12px;color:#2d7aac}
table{border-collapse:collapse}
td{padding:0px;margin:0px}
input,select{height:19px}
input,select,textarea{font-weight:normal}
textarea{padding:2px}

a{color:#2d7aac}
a:link{text-decoration:underline}
a:visited{text-decoration:underline}
a:hover{text-decoration:none}

.full_table{width:100%;height:100%}
.max_weight{height:100%}
.page_add_box{border:1px solid #c5c5c5;background-color:#ffecdc;padding:10px}
.page_add_text{padding-top:5px}
.action_link{font-weight:bold}
.page_add_els{width:195px}
.no_spaces{margin:0px;padding:0px}
.nav_margin{margin-top:20px}
.page_add_title{font-size:14px;font-weight:bold}
.nav_name{padding-left:5px;font-size:13px;font-weight:bold}

#head{height:67px;background-image:url('img/head_bg.jpg');background-repeat:repeat-x;padding-left:10px;padding-right:10px}
#content{padding-left:10px;padding-right:10px;padding-top:25px;padding-bottom:25px}
#footer{height:20px;border-top:1px solid #ff9d4d;padding-left:10px;color:#d06c1b;font-size:11px}
#menu_block{width:220px;padding-right:20px;vertical-align:top}
#menu_title{font-size:18px;border-bottom:1px solid #fa9848;margin-bottom:15px}
#pop_block{padding-top:5px;padding-bottom:5px}
#page_properties{border-top:3px solid #ff9f4f;border-bottom:3px solid #ff9f4f;margin-bottom:10px;display:none}

.cont_title{margin-top:10px;height:20px;background-color:#ff8e31;padding-left:10px;padding-right:10px;color:#ffffff;font-weight:bold}
.cont_title table td{color:#ffffff;font-weight:bold}
.cont_title table td a{color:#ffffff}
.cont_main{background-color:#d5ecfa;margin-top:1px;border-bottom:3px solid #ff9f4f}
.cont_main table td{padding:5px;color:#2d7aac;font-weight:bold}
.cont_main table td a{color:#828282}
.cont_main table td input{width:100%}
.cont_main table td textarea{width:100%;height:150px;margin-bottom:10px;overflow:auto}
.cont_main_2{margin-top:1px;border-bottom:3px solid #ff9f4f}
.cont_edit{background-color:#b9d8eb;border:1px solid #ffffff}
.cont_edit table td a{color:#828282}
.cont_tit{border:1px solid #ffffff}
.cont_tit2{width:180px;text-align:right;border:1px solid #ffffff}
.bold_text{font-weight:bold}

.data_grid{margin-top:1px;border-bottom:3px solid #ff9f4f}
.data_grid table{width:100%;background-color:#d5ecfa}
.data_grid table td{padding:10px;border:1px solid #ffffff}
.data_grid table td a{color:#828282;font-weight:bold}
.tab_link_td{width:100px;text-align:center}
.tab_title td{background-color:#ff9f4f;color:#ffffff;font-weight:bold;text-align:center}
